.footer {
  padding: 40px 4%;
  max-width: 1000px;
  margin: 0 auto;
  color: #777;
}

.footer-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-icons img {
  width: 28px;
  cursor: pointer;
}

.footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.footer ul li {
  font-size: 14px;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}

.copyright-text {
  font-size: 14px;
  color: gray;
}
@media (max-width:800px){
  .footer-icons img{
    width: 25px;
  }
  .footer ul{
  grid-template-columns: auto auto;
  gap: 8px;
  font-size: 14px;
  }
}

